<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- <div class="ui-g ui-g-nopad">
  <div class="ui-g-12" style=" position: relative;
  left: -16px ; top: -17px ;  width: 2800px">
      <app-top-menu-bar></app-top-menu-bar>

  </div>
</div>


<div class="ui-g ui-g-nopad">
  <div class="ui-g-2 ui-sm-1 ui-md-2 ui-lg-3 ui-g-nopad" style=" position: relative;
  left: -8px ; top: -24px ">
    <app-app-menu></app-app-menu>
  </div>

  
  <div class="ui-g-8 ui-sm-6 ui-md-8 ui-lg-8 ui-g-nopad"
   style="height:100px; position: relative; align-content: 'right';
  right: 90px; top: -24px;  width:990px; ">
  <p-scrollPanel [style]="{ height: '550px'}" styleClass="custombar1">
      <p-card>
          <router-outlet></router-outlet>
    
        </p-card>
  </p-scrollPanel>
   
  </div>
</div> -->



<div class="container-fluid ui-g-nopad">
  <div class="ui-g-2 ui-g-nopad" style=" position: relative; align-content: 'right';
 right: 45px; top: 1px;   ">
    <app-app-menu></app-app-menu>

  </div>
  <div class="ui-g-10 ui-g-nopad" style=" position: relative; align-content: 'right';
 right: -10px; top: -2px;   ">

    <router-outlet></router-outlet>

  </div>
</div>
